<li class="articlesItem">
    <a class="itemLink" href="{post.url}">
        <div class="itemImg">
            <img
                alt="{post.title}"
                class="lazyImg"
                src="{post.thumbnail}"
                data-src="{post.thumbnail}"
            >
        </div>
        <div class="itemBottom">
            <div class="itemTitle">{post.title}</div>
            <div class="itemInfo">
                <div class="infoText">{post.date}</div>
            </div>
        </div>
    </a>
</li>
