<div class="wrap">
    <div class="contWrap" style="max-width: 1200px;">
        <section class="detailsCont authorSection">
            <section class="section-block author-posts-block">
                <p>{{content}}</p>
                <div class="moduleTitle" style="margin: 20px 0;">
                    <span class="point"></span>
                    <h2 class="title">{{authors.title}}</h2>
                    <div class="border"></div>
                </div>
                <div class="cards-grid">
                    {{authors}}
                </div>
            </section>
        </section>
    </div>
</div>
