<li class="topItem">
    <a class="itemLink" href="{url}">
        <div class="itemImg">
            <img
                alt="{title}"
                src="{featured_image}"
                data-src="{featured_image}"
                class="topFristImg lazyImg"
            >
        </div>
        <div class="itemInfo">
            <div class="infoText">{category}</div>
            <div class="infoText separator"> •</div>
            <div class="infoText">{date}</div>
        </div>
        <div class="itemTitle">
            {title}
        </div>
    </a>
</li>
