<a class="topFrist" href="{url}">
    <div class="topFristLeft">
        <img
            alt="{title}"
            src="{featured_image}"
            data-src="{featured_image}"
            class="topFristImg lazyImg"
        >
    </div>
    <div class="topFristRight">
        <div class="fristInfo">
            <div class="infoText">{category}</div>
            <div class="infoText separator"> •</div>
            <div class="infoText">{date}</div>
        </div>
        <div class="fristTitle">
            {title}
        </div>
        <div class="fristMore">{read_more}</div>
    </div>
</a>
