<li class="articlesItem">
    <a class="itemLink" href="{url}">
        <div class="itemImg">
            <img
                alt="{title}"
                class="lazyImg"
                src="{featured_image}"
                data-src="{featured_image}"
            >
        </div>
        <div class="itemRight">
            <div class="itemInfo">
                <div class="infoText">{category}</div>
                <div class="infoText separator"> •</div>
                <div class="infoText">{date}</div>
            </div>
            <div class="itemTitle">{title}</div>
        </div>
    </a>
</li>
