<li class="sidebarItem">
    <a class="itemLink" href="{url}">
        <div class="itemImg">
            <img
                alt="{title}"
                class="lazyImg"
                src="{featured_image}"
                data-src="{featured_image}"
            >
        </div>
        <div class="itemRight">
            <div class="itemCategory">
                {category}
            </div>
            <span class="itemCategory">{date}</span>
            <div class="itemTitle">{title}</div>
        </div>
    </a>
</li>
