<div class="wrap">
    <div class="contWrap" style="max-width: 1200px;">
        <section class="detailsCont">
            <div class="moduleTitle" style="margin-bottom: 20px;">
                <span class="point"></span>
                <h1 class="title">{{search.result}}: {{name}}</h1>
            </div>
            <div class="article">
                <div class="articleLeft">
                    <div class="popularCate" style="padding-bottom: 20px;">
                        <div class="tabsContent">
                            <div class="tabContent active" id="tab-0">
                                <ul class="articlesList">
                                    {{search.posts}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
