<div class="read-also-box">
    <div class="read-also-thumbnail-wrapper">
        <a href="{{post_url}}"><img src="{{thumbnail}}" alt="Thumbnail" class="read-also-thumbnail" loading="lazy"></a>
    </div>
    <div class="read-also-content">
        <p class="read-also-label"><a href="{{post_url}}">{{read_also}}</a></p>
        <h3 class="read-also-title"><a href="{{post_url}}">{{title}}</a></h3>
    </div>
    <div class="read-also-icon">
        <a href="{{post_url}}"><i class="fas fa-hand-pointer"></i></a>
    </div>
</div>