<!DOCTYPE html>
<html lang="{{lang}}">
    <head>
        <link rel="preconnect" href="https://wrapper.highleverage.tech" crossorigin>
        <link rel="preconnect" href="https://securepubads.g.doubleclick.net" crossorigin>
        <link rel="preload" href="https://securepubads.g.doubleclick.net/tag/js/gpt.js" as="script">
        <link rel="preload" href="https://wrapper.highleverage.tech/get/fludit/index.js" as="script">
        <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
        <script src="https://wrapper.highleverage.tech/get/fludit/index.js"></script>
        <script>
            (function() {
              document.addEventListener('DOMContentLoaded', function () {
                  // Function to check if the user is on a desktop device based on window width
                  function isDesktop() {
                      return window.innerWidth >= 1024; // Adjust this value based on your breakpoint
                  }
  
                  // Function to update ad divs to desktop versions
                  function updateAdDivsForDesktop() {
                      var adDivs = document.querySelectorAll('.hs-ad');
  
                      // Desktop ad configurations in sequence
                      var desktopAds = [
                          {
                              hsCode: 'fludit_desktop_top_{source}',
                              hsSizes: '[[300,250],[336,280],[728,90]]',
                          },
                          {
                              hsCode: 'fludit_desktop_mid1_{source}',
                              hsSizes: '[[300,250],[336,280]]',
                          },
                          {
                              hsCode: 'fludit_desktop_mid2_{source}',
                              hsSizes: '[[300,250],[336,280]]',
                          },
                      ];
  
                      // Update each ad div with the desktop configuration
                      adDivs.forEach(function (adDiv, index) {
                          if (desktopAds[index]) {
                              adDiv.setAttribute('hs-code', desktopAds[index].hsCode);
                              adDiv.setAttribute('hs-sizes', desktopAds[index].hsSizes);
                          }
                      });
                  }
  
                  // Initial check when the page loads
                  if (isDesktop()) {
                      updateAdDivsForDesktop();
                  }
              });
          })();
        </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{seo_title}}</title>
        <meta name="progam" content="no-cache">
        <meta name="description" content="{{seo_description}}">
        <meta property="og:title" content="{{seo_title}}">
        <meta property="og:description" content="{{seo_description}}">
        <meta property="og:image" content="{{seo_image}}">
        <meta property="og:url" content="{{seo_url}}">
        <meta property="og:type" content="website">
        <meta property="og:locale" content="{{lang}}">
        <link rel="canonical" href="{{seo_url}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Lexend:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parkinsans:wght@300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/public/css/style.css">
        <!-- no-JS fallback -->
        <script>
            //enviroment constants
            const ENVIROMENT_CONSTANTS = {
                SHOW_IFRAMES: true,
            }
        </script>
        <!-- custom headers -->
    </head>
    <body>
        <svg style="display: none;">
            <defs>
                <symbol id="icon-headClose" fill="none">
                    <path
                        d="M4.43945 4L20.4395 20"
                        stroke="#979797"
                        stroke-width="2.25"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M4.43945 20L20.4395 4"
                        stroke="#979797"
                        stroke-width="2.25"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </symbol>
            </defs>
        </svg>
        <div class="headWrap">
            <div class="head">
                <a class="logoLink" href="/" aria-label="Go home">
                    <img class="logoImg" src="/public/img/logo.svg" alt="Logo">
                </a>
                <ul class="topList">
                    {{menu}}
                    <li class="topItem">
                        <svg
                            class="searchIcon"
                            onclick="showSearch('pcMenuWrap', 'searchMask')"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                        >
                            <path d="M19.6 21L13.3 14.7C12.8 15.1 12.225 15.4167 11.575 15.65C10.925 15.8833 10.2333 16 9.5 16C7.68333 16 6.14583 15.3708 4.8875 14.1125C3.62917 12.8542 3 11.3167 3 9.5C3 7.68333 3.62917 6.14583 4.8875 4.8875C6.14583 3.62917 7.68333 3 9.5 3C11.3167 3 12.8542 3.62917 14.1125 4.8875C15.3708 6.14583 16 7.68333 16 9.5C16 10.2333 15.8833 10.925 15.65 11.575C15.4167 12.225 15.1 12.8 14.7 13.3L21 19.6L19.6 21ZM9.5 14C10.75 14 11.8125 13.5625 12.6875 12.6875C13.5625 11.8125 14 10.75 14 9.5C14 8.25 13.5625 7.1875 12.6875 6.3125C11.8125 5.4375 10.75 5 9.5 5C8.25 5 7.1875 5.4375 6.3125 6.3125C5.4375 7.1875 5 8.25 5 9.5C5 10.75 5.4375 11.8125 6.3125 12.6875C7.1875 13.5625 8.25 14 9.5 14Z" fill="#616161"/>
                        </svg>
                    </li>
                </ul>
                <svg
                    class="menuIcon"
                    onclick="showSearch()"
                    xmlns="http://www.w3.org/2000/svg"
                    width="28"
                    height="28"
                    viewBox="0 0 28 28"
                    fill="none"
                >
                    <rect
                        x="0.5"
                        y="0.5"
                        width="27"
                        height="27"
                        rx="3.5"
                        stroke="#CCCCCC"
                    />
                    <rect
                        x="6.51904"
                        y="7.50781"
                        width="14.9617"
                        height="2.59464"
                        rx="1.29732"
                        fill="#6D6D6D"
                    />
                    <rect
                        x="6.51904"
                        y="12.6953"
                        width="14.9617"
                        height="2.59464"
                        rx="1.29732"
                        fill="#6D6D6D"
                    />
                    <rect
                        x="6.51904"
                        y="17.8828"
                        width="14.9617"
                        height="2.59464"
                        rx="1.29732"
                        fill="#6D6D6D"
                    />
                </svg>
                <div class="menuMask" onclick="closeSearch()"></div>
                <div class="menuWrap">
                    <div class="menuContent">
                        <div class="menuTop">
                            <a class="meneLogoLink" href="/" aria-label="go home">
                                <img class="logoImg" src="/public/img/logo.svg" alt="logo">
                            </a>
                            <svg class="closeIcon" onclick="closeSearch()">
                                <use xlink:href="#icon-headClose"></use>
                            </svg>
                        </div>
                        <div class="searchBox">
                            <input
                                class="searchInput"
                                id="searchInput"
                                placeholder="{{search_placeholder}}"
                                required=""
                                type="text"
                                name="q"
                                value=""
                                onkeydown="enterSearch('#searchInput')"
                            >
                            <div class="searchBtn" onclick="jumpSearch('#searchInput')">{{search_action}}</div>
                        </div>
                        <ul class="menuList">
                            {{menu}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
